@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poiret+One&display=swap');

:root {
    --font-header: "Poiret One";
    --font-body: "Montserrat";
    --content-width: 56rem;
}

* {
    padding: 0;
    margin: 0;
}

p {
    margin: 1rem 0;
}

body {
    background-color: #050509;
    color: #e5e5e5;
    position: relative;
    background-image: linear-gradient(to bottom, #050509, #111115);
    font-family: var(--font-body);
}

body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url(Texturelabs_Atmosphere_203M.jpg);
    z-index: -5;
    opacity: 0.05;
    background-size: cover;

}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url('https://scp-wiki.wdfiles.com/local--files/theme%3Aswirling-ashes/ashes-large.png');
    z-index: -4;
    opacity: 0.1;
    background-size: 40rem;
    background-repeat: repeat-x;
    background-position-y: bottom;
    animation: billow 24s linear infinite both;
}

@keyframes billow {
    to{background-position-x: 40rem;}
}

header {
    font-size: 5rem;
    font-family: var(--font-header);
    max-width: max(var(--content-width), 80%);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: unfurl 2s ease-in-out;
    animation-fill-mode: backwards;
    height: 10rem;
}

header::before, header::after {
    content: "";
    display: block;
    height: 2px;
    margin: 2rem;
    flex-grow: 1;
    background-color: white;
}

h1 {
    font-family: var(--font-header);
    top: 5%;
    position: absolute;
    text-align: center;
    left: 0;
    width: 100%;
}

#container {
    max-width: var(--content-width);
    margin: 0 auto;
    height: 200rem;
    padding: 1rem;
}

.image-block {
    width: 90%;
    margin: 1rem auto;
    position: relative;
    overflow: hidden;
}

.image-block img {
    max-width: 100%;
    transition: 0.5s ease-in 0s;
    width: 100%
}

.image-block .caption {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content:center;
    justify-content:center;
    opacity: 0;
    pointer-events: none;
    transition: 0.4s ease-in 0s;
    backdrop-filter: blur(8px) brightness(0.4);
    filter: blur(4px);
}

.caption::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url('https://scp-wiki.wdfiles.com/local--files/theme%3Aswirling-ashes/ashes-large.png');
    z-index: -4;
    opacity: 0.15;
    background-size: 40rem;
    background-repeat: repeat-x;
    background-position-y: bottom;
    animation: billow 24s linear infinite both;
}

.image-block img:hover + .caption, .image-block .caption:hover {
    opacity: 1;
    pointer-events: all;
    filter: blur(0px);
}

.right {
    float: right;
}

.center {
    margin: 1rem auto;
}

.left {
    float: left;
}

#container > * {
    animation: reveal 1.5s ease-in var(--i) 1 normal running;
    animation-fill-mode: backwards;
}

#container > :nth-child(1) {
    --i: 3s;
}

#container > :nth-child(2) {
    --i: 3.5s;
}

#container > :nth-child(3) {
    --i: 4s;
}

#container > :nth-child(4) {
    --i: 4.5s;
}

#container > :nth-child(5) {
    --i: 5s;
}

#container > :nth-child(6) {
    --i: 5.5s;
}

#container > :nth-child(7) {
    --i: 6s;
}

#container > :nth-child(8) {
    --i: 6.5s;
}

#container > :nth-child(9) {
    --i: 7s;
}

#container > :nth-child(n + 10) {
    --i: 7.5s;
}

@keyframes unfurl {
    from{clip-path: inset(0 100% 0 0); opacity: 0.2}
    to{clip-path: inset(0); opacity: 1}
}

@keyframes reveal {
    from{opacity: 0;}
    to{opacity: 1;}
}


#flashlight {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    pointer-events: none;
    z-index: -1;
    display: none;
}

body:hover #flashlight {
    display: block;
}